{% extends 'base.html' %}

{% block head %}
<title> Whatsapp like</title>
<link rel="stylesheet" href="style.css" />
<script src="{{url_for('static', filename='script.js')}}" defer></script>
{% endblock %}

{% block body %}
<div class="container">
    <aside>
      <div class="navbar">
        <div class="user-logo"><img src="{{url_for('static', filename='Aftomatopoiiste.png')}}" /></div>
        <nav>
          <ul>
            <li class="selectedLink" name="home">Solo's Chat Bot</li>
            <li name="about">About Me</li>
            <li name="resume">Resume</li>
            <li name="contact">Contact</li>
          </ul>
        </nav>
      </div>
    </aside>
    <main>
      <div class="card active home" data-home>
        <div class="title">Solo's Chat Bot</div>
        <div class="content">



            
        </div>
      </div>
      <div class="card about" data-about>
        <div class="title">About Me Page</div>
        <div class="content">Content Goes Here</div>
      </div>
      <div class="card resume" data-resume>
        <div class="title">Resume Page</div>
        <div class="content">Content Goes Here</div>
      </div>
      <div class="card contact" data-contact>
        <div class="title">Contact Page</div>
        <div class="content">Content Goes Here</div>
      </div>
    </main>
  </div>
  <script>
    const showMessage = () => {
      alert("Hello JavaScript");
    };
  </script>
{% endblock %}